$color-primary: #D10024;
$color-text-white: white;
$color-ligth-black: #333;
$text-gray-color: #B9BABC;
$color-bg: #15161D;
$color-bg-secondary: #1E1F29;
$section-bg-color: #E4E7ED;
$color-links: #2B2D42;
$container-width: 1170px;
